Checks: '
  clang-diagnostic-*,
  -clang-diagnostic-return-type,
  -clang-diagnostic-unknown-attributes,
  -clang-diagnostic-unused-parameter,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-unchecked-optional-access,
  cert-*,
  -cert-err58-cpp,
  misc-*,
  -misc-include-cleaner,
  -misc-use-internal-linkage,
  -misc-use-anonymous-namespace,
  -misc-non-private-member-variables-in-classes,
  modernize-use-equals-default,
  modernize-use-nodiscard,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-redundant-void-arg,
  modernize-use-bool-literals,
  modernize-use-using,
  performance-*,
  readability-container-data-pointer,
  readability-delete-null-pointer,
  readability-implicit-bool-conversion,
  readability-redundant-smartptr-get,
  readability-redundant-string-cstr,
  readability-container-size-empty,
  readability-redundant-control-flow,
  readability-simplify-boolean-expr,
'
SystemHeaders: false
